{% import 'macros/form.html' as form %}
{% set data = data or {} %}
{% set errors = errors or {} %}
{% set errors = errors or {} %}
{% set action = c.form_action or '' %}


<form id="resource-edit" class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">
{% block package_datadict_fields %}
  {% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if not c.pkg %}
      {{ h.snippet('package/snippets/stages.html', stages=['active','uncomplete','uncomplete'], pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}


  {% block package_metadata_fields_custom %}

<!--

<p>
<div data-module="custom-fields">

<div class="row-fluid" style="text-align:center;font-weight:bold;">
        <div class="span3">Field Name</div>
        <div class="span3">Title</div>
        <div class="span3">Format</div>
        <div class="span3">Description</div>
</div>

  {%if c.pkg_data_dictionary%}
	  {% set data_dict = c.pkg_data_dictionary %}
	  {% set data_dict = data_dict + [[]]%}
  {%else%}
	{%set data_dict = [[],[],[]]%}
  {%endif%} 
<!--
  {% for extra in data_dict %}
    {% set index = loop.index0 + (extras|count) %}
    {% if data_dict[index] %}
    {% set current_data_dict = data_dict[index] %}
    {% else %}
    {% set current_data_dict = {'Seleccionar esquema' :'', 'title':'','description' :'', 'sensitive': '','id':''} %}
    {%endif%}
    <div class="control-group control-custom" style="margin:1px;">
    <div class="row-fluid">

     <div class="span3"><input id="field-{{ index }}" type="text" name="field_{{ index }}" value="{{current_data_dict['field_name']}}" style="width:90%" /></div>
      <div class="span3"><input id="title-{{ index }}" type="text" name="title_{{ index }}" value="{{current_data_dict['title']}}" style="width:90%" /></div>
      <div class="span3">
	<select class="span20" name="format_{{index}}">
		<option value=""></option>
		<optgroup label="String">
			<option value="Default String" {% if current_data_dict['format'] == "Default String" %} selected {% endif %}>Default String</option>
	                <option value="Email" {% if current_data_dict['format'] == "Email" %} selected {% endif %}>Email</option>
        	        <option value="URI" {% if current_data_dict['format'] == "URI" %} selected {% endif %}>URI</option>
                	<option value="Binary" {% if current_data_dict['format'] == "Binary" %} selected {% endif %}>Binary</option>
	                <option value="UUID" {% if current_data_dict['format'] == "UUID" %} selected {% endif %}>UUID</option>
		</optgroup>
		<optgroup label="Number">
                	<option value="Default Number" {% if current_data_dict['format'] == "Default Number" %} selected {% endif %}>Default Number</option>
	                <option value="Integer" {% if current_data_dict['format'] == "Integer" %} selected {% endif %}>Integer</option>
        	        <option value="Currency" {% if current_data_dict['format'] == "Currency" %} selected {% endif %}>Currency</option>
		</optgroup>
		<optgroup label="Date/Time">
	                <option value="ISO8601 Date" {% if current_data_dict['format'] == "ISO8601 Date" %} selected {% endif %}>ISO8601 Date</option>
			<option value="Other Date" {% if current_data_dict['format'] == "Other Date" %} selected {% endif %}>Other Date</option>
        	        <option value="Duration" {% if current_data_dict['format'] == "Duration" %} selected {% endif %}>Duration</option>
		</optgroup>
		<optgroup label="Other">
			<option value="Boolean" {% if current_data_dict['format'] == "Boolean" %} selected {% endif %}>Boolean</option>
			<option value="Geopoint" {% if current_data_dict['format'] == "Geopoint" %} selected {% endif %}>Geopoint</option>
			<option value="GeoJSON" {% if current_data_dict['format'] == "GeoJSON" %} selected {% endif %}>GeoJSON</option>
			<option value="TopoJSON" {% if current_data_dict['format'] == "TopoJSON" %} selected {% endif %}>TopoJSON</option>
			<option value="JSON Object" {% if current_data_dict['format'] == "JSON Object" %} selected {% endif %}>JSON Object</option>
	                <option value="JSON Array" {% if current_data_dict['format'] == "JSON Array" %} selected {% endif %}>JSON Array</option>
		</optgroup>
	</select>
      </div>
      <div class="span3"><input id="description-{{ index }}" type="text" name="description_{{ index }}" value="{{current_data_dict['description']}}" style="width:90%" /></div>
      <div class=""><input id="id-{{ index }}" type="hidden" name="id_{{ index }}" value="{{current_data_dict['id']}}" /></div>

       <label class="checkbox" for="{{ 'remove-%d' % index }}">
          <input type="checkbox" id="{{ 'remove-%d' % index }}" name="{{ 'remove_%d' % index }}" />
        </label>


   </div>
    </div>
  {% endfor %}



</div>
</p>

-->





<div class="module-select-db">
<!--
      {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
  
    {% endblock %}
     -->

   {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
   {% endblock %}



<!--
{% call form.select('packages', label=_('opciones'), options=c.page.items, selected=c.selected_pkg, error=errors.image_field, is_required=false) %}
  {{ form.info(_('Image field to use in the gallery.'), inline=True) }}
{% endcall %}
-->

  <select id="field-packages" name="packages" data-module="autocomplete">
<!--          {% if h.check_config_permission('create_unowned_dataset') %}
             <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
          {% endif %} -->
          {% for package in c.page.items %}
            {# get out first org from users list only if there is not an existing org #}
            {#% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %#}
    
	    {% set selected_pkg = package.name %} 
            <option value="{{ package.id }}" {% if selected_pkg %} selected="selected" {% endif %}>{{ package.name }}</option>
          {% endfor %}
  </select>


  <select name='sel' id='sel'>
     {% for packaged in c.page.items %}
      {% set selected_pkg = packaged.name %} 
      <option value="{{ packaged.name }}" {% if selected_pkg %} selected="selected" {% endif %}>{{ packaged.name }}</option>
     {% endfor %}
  </select>


</div>

    {% block data_dict_buttons %}
     {% if c.pkg %}
      {% snippet 'package/snippets/edit_data_dict_fields.html', extras=data.extras, errors=errors, pkg_name=pkg_name, limit=(c.pkg_data_dictionary|length)+1 %}
     {% else %}
	{% snippet 'package/snippets/custom_data_dict_fields.html', extras=data.extras, errors=errors, limit=3 %}
     {%endif%}
     {% endblock %}


{% block content_action %}

    
   {% link_for _('Create Create'), controller='package', action='new', class_='btn btn-primary', icon='plus-square'%} 
   {% link_for _('Create Create'), controller='ckanext.dictionary.controller:DDController', action='new_data_dictionary_dos', class_='btn btn-primary', icon='plus-square'%} 


    {#% link_for _('Manage'), controller='package', action='edit', id=selected_pkg, class_='btn', icon='wrench' %#}
    {#% link_for _('Manage'), controller='package', action='edit', id=target, class_='btn', icon='wrench' %#}
    {#% link_for _('Manage'), controller='package', action='edit', id='prueba', class_='btn', icon='wrench' %#}

{% endblock %}






    {% endblock %}
  {% endblock %}
</form>
